.markdownViewer{

    width:100%;
    height:100%;

    overflow:auto;

    background:white;

    padding:25px;

    font-size:16px;

    line-height:1.7;
}

.markdownViewer h1{

    color:#2563EB;

    margin-bottom:20px;
}

.markdownViewer h2{

    margin-top:20px;
}

.markdownViewer ul{

    padding-left:20px;
}

.markdownViewer a{

    color:#2563EB;
}